<div>
  <h2 id="page-heading" data-cy="PaymentTransactionHeading">
    <span>Payment Transactions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-payment-transaction"
        [routerLink]="['/payment-transaction/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Create a new Payment Transaction</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (paymentTransactions().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Payment Transactions found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="orderId">
              <div class="d-flex">
                <span>Order Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cupaTransactionId">
              <div class="d-flex">
                <span>Cupa Transaction Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="gatewayTransactionId">
              <div class="d-flex">
                <span>Gateway Transaction Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span>Status</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="statusDescription">
              <div class="d-flex">
                <span>Status Description</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="paymentBrand">
              <div class="d-flex">
                <span>Payment Brand</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="amount">
              <div class="d-flex">
                <span>Amount</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="balance">
              <div class="d-flex">
                <span>Balance</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="currency">
              <div class="d-flex">
                <span>Currency</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="replyUrl">
              <div class="d-flex">
                <span>Reply Url</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="backofficeUrl">
              <div class="d-flex">
                <span>Backoffice Url</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="echo">
              <div class="d-flex">
                <span>Echo</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sendEmail">
              <div class="d-flex">
                <span>Send Email</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="signature">
              <div class="d-flex">
                <span>Signature</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="signatureVersion">
              <div class="d-flex">
                <span>Signature Version</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="requestTimestamp">
              <div class="d-flex">
                <span>Request Timestamp</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="requestData">
              <div class="d-flex">
                <span>Request Data</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="initialResponseData">
              <div class="d-flex">
                <span>Initial Response Data</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="callbackTimestamp">
              <div class="d-flex">
                <span>Callback Timestamp</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="callbackData">
              <div class="d-flex">
                <span>Callback Data</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastQueryData">
              <div class="d-flex">
                <span>Last Query Data</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="client.merchantClientId">
              <div class="d-flex">
                <span>Client</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="merchant.name">
              <div class="d-flex">
                <span>Merchant</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (paymentTransaction of paymentTransactions(); track trackId(paymentTransaction)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/payment-transaction', paymentTransaction.id, 'view']">{{ paymentTransaction.id }}</a>
              </td>
              <td>{{ paymentTransaction.orderId }}</td>
              <td>{{ paymentTransaction.cupaTransactionId }}</td>
              <td>{{ paymentTransaction.gatewayTransactionId }}</td>
              <td>
                {{
                  {
                    null: '',
                    RECEIVED: 'RECEIVED',
                    SENT_TO_GATEWAY: 'SENT_TO_GATEWAY',
                    AWAITING_CALLBACK: 'AWAITING_CALLBACK',
                    SUCCESS: 'SUCCESS',
                    FAILED: 'FAILED',
                    CANCELLED: 'CANCELLED',
                    REFUNDED: 'REFUNDED',
                    QUERY_SUCCESS: 'QUERY_SUCCESS',
                  }[paymentTransaction.status ?? 'null']
                }}
              </td>
              <td>{{ paymentTransaction.statusDescription }}</td>
              <td>
                {{
                  { null: '', UNIONPAY: 'UNIONPAY', ALIPAY: 'ALIPAY', WECHAT_PAY: 'WECHAT_PAY' }[paymentTransaction.paymentBrand ?? 'null']
                }}
              </td>
              <td>{{ paymentTransaction.amount }}</td>
              <td>{{ paymentTransaction.balance }}</td>
              <td>
                {{
                  {
                    null: '',
                    AUD: 'AUD',
                    USD: 'USD',
                    HKD: 'HKD',
                    CAD: 'CAD',
                    CHF: 'CHF',
                    CNY: 'CNY',
                    EUR: 'EUR',
                    GBP: 'GBP',
                    JPY: 'JPY',
                    KRW: 'KRW',
                    MOP: 'MOP',
                    RUB: 'RUB',
                    SGD: 'SGD',
                    TWD: 'TWD',
                  }[paymentTransaction.currency ?? 'null']
                }}
              </td>
              <td>{{ paymentTransaction.replyUrl }}</td>
              <td>{{ paymentTransaction.backofficeUrl }}</td>
              <td>{{ paymentTransaction.echo }}</td>
              <td>{{ paymentTransaction.sendEmail }}</td>
              <td>{{ paymentTransaction.signature }}</td>
              <td>{{ paymentTransaction.signatureVersion }}</td>
              <td>{{ paymentTransaction.requestTimestamp | formatMediumDatetime }}</td>
              <td>{{ paymentTransaction.requestData }}</td>
              <td>{{ paymentTransaction.initialResponseData }}</td>
              <td>{{ paymentTransaction.callbackTimestamp | formatMediumDatetime }}</td>
              <td>{{ paymentTransaction.callbackData }}</td>
              <td>{{ paymentTransaction.lastQueryData }}</td>
              <td>
                @if (paymentTransaction.client) {
                  <div>
                    <a [routerLink]="['/client', paymentTransaction.client.id, 'view']">{{ paymentTransaction.client.merchantClientId }}</a>
                  </div>
                }
              </td>
              <td>
                @if (paymentTransaction.merchant) {
                  <div>
                    <a [routerLink]="['/merchant', paymentTransaction.merchant.id, 'view']">{{ paymentTransaction.merchant.name }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/payment-transaction', paymentTransaction.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a
                    [routerLink]="['/payment-transaction', paymentTransaction.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (paymentTransactions().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
