<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-audit-log-heading" data-cy="AuditLogCreateUpdateHeading">Create or edit a Audit Log</h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let requestTimestampRef = editForm.get('requestTimestamp')!;
        <div class="mb-3">
          <label class="form-label" for="field_requestTimestamp">Request Timestamp</label>
          <div class="d-flex">
            <input
              id="field_requestTimestamp"
              data-cy="requestTimestamp"
              type="datetime-local"
              class="form-control"
              name="requestTimestamp"
              formControlName="requestTimestamp"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (requestTimestampRef.invalid && (requestTimestampRef.dirty || requestTimestampRef.touched)) {
            <div>
              @if (editForm.get('requestTimestamp')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('requestTimestamp')?.errors?.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        @let apiEndpointRef = editForm.get('apiEndpoint')!;
        <div class="mb-3">
          <label class="form-label" for="field_apiEndpoint">Api Endpoint</label>
          <input
            type="text"
            class="form-control"
            name="apiEndpoint"
            id="field_apiEndpoint"
            data-cy="apiEndpoint"
            formControlName="apiEndpoint"
          />
          @if (apiEndpointRef.invalid && (apiEndpointRef.dirty || apiEndpointRef.touched)) {
            <div>
              @if (editForm.get('apiEndpoint')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        @let httpMethodRef = editForm.get('httpMethod')!;
        <div class="mb-3">
          <label class="form-label" for="field_httpMethod">Http Method</label>
          <input
            type="text"
            class="form-control"
            name="httpMethod"
            id="field_httpMethod"
            data-cy="httpMethod"
            formControlName="httpMethod"
          />
          @if (httpMethodRef.invalid && (httpMethodRef.dirty || httpMethodRef.touched)) {
            <div>
              @if (editForm.get('httpMethod')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_httpStatusCode">Http Status Code</label>
          <input
            type="number"
            class="form-control"
            name="httpStatusCode"
            id="field_httpStatusCode"
            data-cy="httpStatusCode"
            formControlName="httpStatusCode"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_orderId">Order Id</label>
          <input type="text" class="form-control" name="orderId" id="field_orderId" data-cy="orderId" formControlName="orderId" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_responseDescription">Response Description</label>
          <input
            type="text"
            class="form-control"
            name="responseDescription"
            id="field_responseDescription"
            data-cy="responseDescription"
            formControlName="responseDescription"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_cupaApiKey">Cupa Api Key</label>
          <input
            type="text"
            class="form-control"
            name="cupaApiKey"
            id="field_cupaApiKey"
            data-cy="cupaApiKey"
            formControlName="cupaApiKey"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_environment">Environment</label>
          <input
            type="text"
            class="form-control"
            name="environment"
            id="field_environment"
            data-cy="environment"
            formControlName="environment"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_requestData">Request Data</label>
          <textarea
            class="form-control"
            name="requestData"
            id="field_requestData"
            data-cy="requestData"
            formControlName="requestData"
          ></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_responseData">Response Data</label>
          <textarea
            class="form-control"
            name="responseData"
            id="field_responseData"
            data-cy="responseData"
            formControlName="responseData"
          ></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_requesterIpAddress">Requester Ip Address</label>
          <input
            type="text"
            class="form-control"
            name="requesterIpAddress"
            id="field_requesterIpAddress"
            data-cy="requesterIpAddress"
            formControlName="requesterIpAddress"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_merchant">Merchant</label>
          <select
            class="form-control"
            id="field_merchant"
            data-cy="merchant"
            name="merchant"
            formControlName="merchant"
            [compareWith]="compareMerchant"
          >
            <option [ngValue]="null"></option>
            @for (merchantOption of merchantsSharedCollection; track $index) {
              <option [ngValue]="merchantOption">{{ merchantOption.name }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
