<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-client-heading" data-cy="ClientCreateUpdateHeading">Create or edit a Client</h2>

      <div>
        <jhi-alert-error />

        <div class="mb-3" *ngIf="client?.id">
          <label class="form-label" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_merchantId">Merchant</label>
          <select
            class="form-control"
            id="field_merchantId"
            data-cy="merchantId"
            name="merchantId"
            (change)="onMerchantChange($event)"
            [disabled]="editForm.get('merchantId')?.disabled ?? false"
          >
            <option value="">Select a merchant</option>
            <option
              *ngFor="let merchantOption of merchantsSharedCollection; trackBy: trackMerchant"
              [value]="merchantOption.id"
              [selected]="merchantOption.id === editForm.get('merchantId')?.value"
            >
              {{ merchantOption.name }}
            </option>
          </select>
          <div *ngIf="editForm.get('merchantId')?.invalid && (editForm.get('merchantId')?.dirty || editForm.get('merchantId')?.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('merchantId')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_merchantClientId">Merchant Client ID</label>
          <input
            type="text"
            class="form-control"
            name="merchantClientId"
            id="field_merchantClientId"
            data-cy="merchantClientId"
            formControlName="merchantClientId"
            [disabled]="editForm.get('merchantClientId')?.disabled ?? false"
          />
          <div
            *ngIf="
              editForm.get('merchantClientId')?.invalid &&
              (editForm.get('merchantClientId')?.dirty || editForm.get('merchantClientId')?.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('merchantClientId')?.errors?.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_emailAddress">Email Address</label>
          <input
            type="text"
            class="form-control"
            name="emailAddress"
            id="field_emailAddress"
            data-cy="emailAddress"
            formControlName="emailAddress"
          />
          <div
            *ngIf="editForm.get('emailAddress')?.invalid && (editForm.get('emailAddress')?.dirty || editForm.get('emailAddress')?.touched)"
          >
            <small class="form-text text-danger" *ngIf="editForm.get('emailAddress')?.errors?.pattern">
              This field should follow pattern for Email Address.
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_mobileNumber">Mobile Number</label>
          <input
            type="text"
            class="form-control"
            name="mobileNumber"
            id="field_mobileNumber"
            data-cy="mobileNumber"
            formControlName="mobileNumber"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_clientPhone">Client Phone</label>
          <input
            type="text"
            class="form-control"
            name="clientPhone"
            id="field_clientPhone"
            data-cy="clientPhone"
            formControlName="clientPhone"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_streetNumber">Street Number</label>
          <input
            type="text"
            class="form-control"
            name="streetNumber"
            id="field_streetNumber"
            data-cy="streetNumber"
            formControlName="streetNumber"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_streetName">Street Name</label>
          <input
            type="text"
            class="form-control"
            name="streetName"
            id="field_streetName"
            data-cy="streetName"
            formControlName="streetName"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_streetSuffix">Street Suffix</label>
          <input
            type="text"
            class="form-control"
            name="streetSuffix"
            id="field_streetSuffix"
            data-cy="streetSuffix"
            formControlName="streetSuffix"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_city">City</label>
          <input type="text" class="form-control" name="city" id="field_city" data-cy="city" formControlName="city" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_state">State</label>
          <input type="text" class="form-control" name="state" id="field_state" data-cy="state" formControlName="state" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_postCode">Post Code</label>
          <input type="text" class="form-control" name="postCode" id="field_postCode" data-cy="postCode" formControlName="postCode" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_country">Country</label>
          <input type="text" class="form-control" name="country" id="field_country" data-cy="country" formControlName="country" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
