@media all and (max-width: 1100px) {
  .list-view.editing .toolbar,
  .list-view.editing .contact-grid {
    display: none;
  }
}
a[highlight] {
    font-weight: bold;
    text-decoration: underline;
}

.bordered-component {
    border: 1px solid var(--lumo-contrast-20pct);
    border-radius: var(--lumo-border-radius-m);
    padding: 1em;
}
