<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (clientCard(); as clientCardRef) {
      <div>
        <h2 data-cy="clientCardDetailsHeading"><span>Client Card</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ clientCardRef.id }}</span>
          </dd>
          <dt><span>Masked Pan</span></dt>
          <dd>
            <span>{{ clientCardRef.maskedPan }}</span>
          </dd>
          <dt><span>Expiry Date</span></dt>
          <dd>
            <span>{{ clientCardRef.expiryDate }}</span>
          </dd>
          <dt><span>Cardholder Name</span></dt>
          <dd>
            <span>{{ clientCardRef.cardholderName }}</span>
          </dd>
          <dt><span>Is Default</span></dt>
          <dd>
            <span>{{ clientCardRef.isDefault }}</span>
          </dd>
          <dt><span>Is Valid</span></dt>
          <dd>
            <span>{{ clientCardRef.isValid }}</span>
          </dd>
          <dt><span>Client</span></dt>
          <dd>
            @if (clientCard()!.client) {
              <div>
                <a [routerLink]="['/client', clientCard()!.client?.id, 'view']">{{ clientCardRef.client?.merchantClientId }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/client-card', clientCardRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
