<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <h5 class="display-5"><span>Welcome to Creditco UP Acquiring Platform!</span></h5>

    <p class="lead">Useful links:</p>

    <ul>
      <li>
        <a routerLink="docs" routerLinkActive="active">
          <!--  <fa-icon icon="book" [fixedWidth]="true"></fa-icon> -->
          <span>API On-line documentation (Swagger)</span>
        </a>
      </li>
    </ul>

    <div>
      @if (account() !== null) {
        <div class="alert alert-success">
          @if (account(); as accountRef) {
            <span id="home-logged-message">You are logged in as user &quot;{{ accountRef.login }}&quot;.</span>
          }
        </div>
      } @else {
        <div class="alert alert-warning" *ngIf="isDevelopment">
          <span>If you want to </span>
          <a class="alert-link" (click)="login()">sign in</a
          ><span
            >, you can try the default accounts:<br />- Administrator (login=&quot;admin&quot; and password=&quot;admin&quot;) <br />- User
            (login=&quot;user&quot; and password=&quot;user&quot;).</span
          >
        </div>
        <div class="alert alert-warning" *ngSwitchCase="false">
          <span>You don't have an account yet?</span>&nbsp;<br />
          Please ask Dainius Kalinauskas to provide credentials to access this resource.
        </div>
      }
    </div>
  </div>
</div>
