<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (paymentTransaction(); as paymentTransactionRef) {
      <div>
        <h2 data-cy="paymentTransactionDetailsHeading"><span>Payment Transaction</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ paymentTransactionRef.id }}</span>
          </dd>
          <dt><span>Order Id</span></dt>
          <dd>
            <span>{{ paymentTransactionRef.orderId }}</span>
          </dd>
          <dt><span>Request Timestamp</span></dt>
          <dd>
            <span>{{ paymentTransactionRef.requestTimestamp | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Payment Flow</span></dt>
          <dd>
            <span>{{ paymentTransactionRef.paymentFlow }}</span>
          </dd>
          <dt><span>Status</span></dt>
          <dd>
            <span>{{ paymentTransactionRef.status }}</span>
          </dd>
          <dt><span>Status Description</span></dt>
          <dd>
            <span>{{ paymentTransactionRef.statusDescription }}</span>
          </dd>
          <dt><span>Payment Brand</span></dt>
          <dd>
            <span>{{ paymentTransactionRef.paymentBrand }}</span>
          </dd>
          <dt><span>Amount</span></dt>
          <dd>
            <span>{{ paymentTransactionRef.amount }}</span>
          </dd>
          <dt><span>Balance</span></dt>
          <dd>
            <span>{{ paymentTransactionRef.balance }}</span>
          </dd>
          <dt><span>Currency</span></dt>
          <dd>
            <span>{{ paymentTransactionRef.currency }}</span>
          </dd>
          <dt><span>Client Id</span></dt>
          <dd>
            <span>{{ paymentTransactionRef.clientId }}</span>
          </dd>
          <dt><span>Merchant Client Id</span></dt>
          <dd>
            <span>{{ paymentTransactionRef.merchantClientId }}</span>
          </dd>
          <dt><span>Client Name</span></dt>
          <dd>
            <span>{{ paymentTransactionRef.clientName }}</span>
          </dd>
          <dt><span>Merchant Id</span></dt>
          <dd>
            <span>{{ paymentTransactionRef.merchantId }}</span>
          </dd>
          <dt><span>Merchant Name</span></dt>
          <dd>
            <span>{{ paymentTransactionRef.merchantName }}</span>
          </dd>
          <dt><span>Reply Url</span></dt>
          <dd>
            <span>{{ paymentTransactionRef.replyUrl }}</span>
          </dd>
          <dt><span>Backoffice Url</span></dt>
          <dd>
            <span>{{ paymentTransactionRef.backofficeUrl }}</span>
          </dd>
          <dt><span>Echo</span></dt>
          <dd>
            <span>{{ paymentTransactionRef.echo }}</span>
          </dd>
          <dt><span>Signature</span></dt>
          <dd>
            <span>{{ paymentTransactionRef.signature }}</span>
          </dd>
          <dt><span>Signature Version</span></dt>
          <dd>
            <span>{{ paymentTransactionRef.signatureVersion }}</span>
          </dd>
          <dt><span>Request Data</span></dt>
          <dd>
            <span>
              <pre class="wrapped-pre" jhiJsonHighlight>{{ paymentTransactionRef.requestData }}</pre>
            </span>
          </dd>
          <dt><span>Initial Response Data</span></dt>
          <dd>
            <span>
              <pre class="wrapped-pre" jhiJsonHighlight>{{ paymentTransactionRef.initialResponseData }}</pre>
            </span>
          </dd>
          <dt><span>Gateway Transaction Id</span></dt>
          <dd>
            <span>{{ paymentTransactionRef.gatewayTransactionId }}</span>
          </dd>
          <dt><span>Callback Timestamp</span></dt>
          <dd>
            <span>{{ paymentTransactionRef.callbackTimestamp | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Callback Data</span></dt>
          <dd>
            <span>
              <pre class="wrapped-pre" jhiJsonHighlight>{{ paymentTransactionRef.callbackData }}</pre>
            </span>
          </dd>
          <dt><span>Last Query Data</span></dt>
          <dd>
            <span>
              <pre class="wrapped-pre" jhiJsonHighlight>{{ paymentTransactionRef.lastQueryData }}</pre>
            </span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/payment-transaction', paymentTransactionRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
