<div>
  <h2 id="page-heading" data-cy="MerchantHeading">
    <span>Merchants</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-merchant"
        [routerLink]="['/merchant/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Create a new Merchant</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (merchants().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Merchants found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span>Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="mode">
              <div class="d-flex">
                <span>Mode</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span>Status</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="balance">
              <div class="d-flex">
                <span>Balance</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cupaTestApiKey">
              <div class="d-flex">
                <span>Cupa Test Api Key</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cupaProdApiKey">
              <div class="d-flex">
                <span>Cupa Prod Api Key</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="remoteTestUrl">
              <div class="d-flex">
                <span>Remote Test Url</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="remoteTestMerchantId">
              <div class="d-flex">
                <span>Remote Test Merchant Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="remoteTestMerchantKey">
              <div class="d-flex">
                <span>Remote Test Merchant Key</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="remoteTestApiKey">
              <div class="d-flex">
                <span>Remote Test Api Key</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="remoteProdUrl">
              <div class="d-flex">
                <span>Remote Prod Url</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="remoteProdMerchantId">
              <div class="d-flex">
                <span>Remote Prod Merchant Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="remoteProdMerchantKey">
              <div class="d-flex">
                <span>Remote Prod Merchant Key</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="remoteProdApiKey">
              <div class="d-flex">
                <span>Remote Prod Api Key</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (merchant of merchants(); track trackId(merchant)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/merchant', merchant.id, 'view']">{{ merchant.id }}</a>
              </td>
              <td>{{ merchant.name }}</td>
              <td>{{ { null: '', TEST: 'TEST', LIVE: 'LIVE' }[merchant.mode ?? 'null'] }}</td>
              <td>{{ { null: '', ACTIVE: 'ACTIVE', INACTIVE: 'INACTIVE' }[merchant.status ?? 'null'] }}</td>
              <td>{{ merchant.balance }}</td>
              <td>{{ merchant.cupaTestApiKey }}</td>
              <td>{{ merchant.cupaProdApiKey }}</td>
              <td>{{ merchant.remoteTestUrl }}</td>
              <td>{{ merchant.remoteTestMerchantId }}</td>
              <td>{{ merchant.remoteTestMerchantKey }}</td>
              <td>{{ merchant.remoteTestApiKey }}</td>
              <td>{{ merchant.remoteProdUrl }}</td>
              <td>{{ merchant.remoteProdMerchantId }}</td>
              <td>{{ merchant.remoteProdMerchantKey }}</td>
              <td>{{ merchant.remoteProdApiKey }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/merchant', merchant.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a [routerLink]="['/merchant', merchant.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(merchant)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (merchants().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
